---
layout: default
---

<div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%-d %b %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <font class="post-link">{{ post.title }}</font>
            {% if post.subtitle %}<br /><font class="post-link" style="font-size:18px">{{ post.subtitle }}</font>{% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
